In [ ]:
# Make a class called Employee. The __init__() method for Employee should store its different attributes:
# name, number, address, salary, post, year of joining, education, and his year of experience.

    # Make a method called describe_employee() that prints the detail Information about employee, a method update_ year_of_experience(),
# and a method called increase_salary() that do increamnet in it's salary.

# Make an instance called employee101 from your class. Print the four attri-
# butes individually, and then call all it's  methods for describing employee, ssalary increamnet and increase year of experience.

# Create 10 different instances from the class, and call describe_employee() for each 
# instance. Then do some updations with it's methods.

In [13]:
class Employee:
    def __init__(self,name,number,address,salary,post,year_of_joining,education,year_of_experience):
        self.name=name
        self.number=number
        self.address=address
        self.salary=salary
        self.post=post
        self.year_of_joining=year_of_joining
        self.education=education
        self.year_of_experience=year_of_experience

    def describe_employee(self):
        print("\nDetailed information of Employee:")
        print(f"Employee name is: {self.name}")
        print(f"Employee post is: {self.post}")
        print(f"Employee education is: {self.education}")
        print(f"Employee salary is: {self.salary}")
        print(f"Employee number is: {self.number}")
        print(f"Employee address is: {self.address}")
        print(f"Employee year of joining is: {self.year_of_joining}")
        print(f"Employee year of experience is: {self.year_of_experience}")
        
        

    def update_year_of_experience(self,add_update):
        self.year_of_experience += add_update

    def increase_salary(self, increament):
        self.salary += increament

employee101=Employee("Shahmir","03128333831","Pakistan",99999,"Data Engineer","2011","Masters in DS",10)
print(employee101.name)
print(employee101.salary)
print(employee101.post)
print(employee101.education)

#method describe_employee()
# employee101.describe_employee()

#method increase_salary()
employee101.increase_salary(119191)

#method update_ year_of_experience()
employee101.update_year_of_experience(6)


employee101.describe_employee()

#different instances from the class
employee102=Employee("Ali","03217266261","Australia",33782,"Graphics Designer","2009","Masters",1)
employee103=Employee("Haseeb","03461827227","USA",88292,"Data Scientist","2005","Phd",2)
employee104=Employee("Tahir","044488837373","UK",882920,"Software Engineer","2023","BS",4)
employee105=Employee("Uzma","092727552512","Germany",222902,"Web developer","2019","M.phill",10)
employee106=Employee("Azam","099827117111","Malaysia",8827171,"App developer","2011","Diploma",5)

#call and update employee102
employee102.increase_salary(6666525)
employee102.update_year_of_experience(1)
employee102.describe_employee()

#call and update employee103
employee103.increase_salary(28282)
employee103.update_year_of_experience(2)
employee103.describe_employee()

#call and update employee104
employee104.increase_salary(9818)
employee104.update_year_of_experience(4)
employee104.describe_employee()

#call and update employee105
employee105.increase_salary(7772)
employee105.update_year_of_experience(7)
employee105.describe_employee()

Shahmir
99999
Data Engineer
Masters in DS

Detailed information of Employee:
Employee name is: Shahmir
Employee post is: Data Engineer
Employee education is: Masters in DS
Employee salary is: 219190
Employee number is: 03128333831
Employee address is: Pakistan
Employee year of joining is: 2011
Employee year of experience is: 16

Detailed information of Employee:
Employee name is: Ali
Employee post is: Graphics Designer
Employee education is: Masters
Employee salary is: 6700307
Employee number is: 03217266261
Employee address is: Australia
Employee year of joining is: 2009
Employee year of experience is: 2

Detailed information of Employee:
Employee name is: Haseeb
Employee post is: Data Scientist
Employee education is: Phd
Employee salary is: 116574
Employee number is: 03461827227
Employee address is: USA
Employee year of joining is: 2005
Employee year of experience is: 4

Detailed information of Employee:
Employee name is: Tahir
Employee post is: Software Engineer
Employee education is: BS
Employee salary is: 892738
Employee number is: 044488837373
Employee address is: UK
Employee year of joining is: 2023
Employee year of experience is: 8

Detailed information of Employee:
Employee name is: Uzma
Employee post is: Web developer
Employee education is: M.phill
Employee salary is: 230674
Employee number is: 092727552512
Employee address is: Germany
Employee year of joining is: 2019
Employee year of experience is: 17

Finally complete the same task without using the Classes or OOP.

In [12]:
def employee(name,number,address,salary,post,year_of_joining,education,year_of_experience):
    return {
        "name":name,
        "number":number,
        "address":address,
        "salary":salary,
        "post":post,
        "year_of_joining":year_of_joining,
        "education":education,
        "year_of_experience":year_of_experience,
    }

def describe_employee(employee_profile):
    print(f"name : {employee_profile["name"]}")
    print(f"number : {employee_profile["number"]}")
    print(f"address : {employee_profile["address"]}")
    print(f"salary : {employee_profile["salary"]}")
    print(f"post : {employee_profile["post"]}")
    print(f"year of joining: {employee_profile["year_of_joining"]}")
    print(f"education : {employee_profile["education"]}")
    print(f"year of experience : {employee_profile["year_of_experience"]}")

def update_year_of_experience(employee_profile, add_update):
    employee_profile["year_of_experience"] += add_update

def increase_salary(employee_profile, increament):
    employee_profile["salary"] += increament

employee101 = employee("Shahmir","03128333831","Pakistan",99999,"Data Engineer","2011","Masters in DS",10)

# Printing attributes
print(employee101['name'])
print(employee101['number'])
print(employee101['address'])
print(employee101['salary'])
print("\n")


# Calling functions
print("calling describe_employee()")
describe_employee(employee101)
increase_salary(employee101, 776565)
update_year_of_experience(employee101, 4)
print("\n")

# Printing updated details for employee101
print("\nemployee101")
describe_employee(employee101)

#different instances from the class
employee102=employee("Ali","03217266261","Australia",33782,"Graphics Designer","2009","Masters",1)
employee103=employee("Haseeb","03461827227","USA",88292,"Data Scientist","2005","Phd",2)
employee104=employee("Tahir","044488837373","UK",882920,"Software Engineer","2023","BS",4)
employee105=employee("Uzma","092727552512","Germany",222902,"Web developer","2019","M.phill",10)
employee106=employee("Azam","099827117111","Malaysia",8827171,"App developer","2011","Diploma",5)

#call and update employee102

print("\nemployee102")
increase_salary(employee102, 6666525)
update_year_of_experience(employee102,1)
describe_employee(employee102)

print("\nemployee103")
increase_salary(employee103, 2222)
update_year_of_experience(employee102,2)
describe_employee(employee103)

print("\nemployee104")
increase_salary(employee104, 1111)
update_year_of_experience(employee102,7)
describe_employee(employee104)

print("\nemployee105")
increase_salary(employee105, 2221111)
update_year_of_experience(employee102,9)
describe_employee(employee105)

print("\nemployee106")
increase_salary(employee106, 883737)
update_year_of_experience(employee106,5)
describe_employee(employee106)

Shahmir
03128333831
Pakistan
99999


calling describe_employee()
name : Shahmir
number : 03128333831
address : Pakistan
salary : 99999
post : Data Engineer
year of joining: 2011
education : Masters in DS
year of experience : 10



employee101
name : Shahmir
number : 03128333831
address : Pakistan
salary : 876564
post : Data Engineer
year of joining: 2011
education : Masters in DS
year of experience : 14

employee102
name : Ali
number : 03217266261
address : Australia
salary : 6700307
post : Graphics Designer
year of joining: 2009
education : Masters
year of experience : 2

employee103
name : Haseeb
number : 03461827227
address : USA
salary : 90514
post : Data Scientist
year of joining: 2005
education : Phd
year of experience : 2

employee104
name : Tahir
number : 044488837373
address : UK
salary : 884031
post : Software Engineer
year of joining: 2023
education : BS
year of experience : 4

employee105
name : Uzma
number : 092727552512
address : Germany
salary : 2444013
post : Web developer
year of joining: 2019
education : M.phill
year of experience : 10

employee106
name : Azam
number : 099827117111
address : Malaysia
salary : 9710908
post : App developer
year of joining: 2011
education : Diploma
year of experience : 10