Loops, While loop, For loop

In [1]:
#Loops are used to repeat instructions

In [8]:
i = 1
while i<=6: #stopping condtition
    print("hello world", i)
    i+=1

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6

In [11]:
j = 0
while j<=5: #condition
    print(j)
    j+=1

0
1
2
3
4
5

In [13]:
i = 5
while i >= 1: #condtion
    print(i)
    i -= 1

5
4
3
2
1

In [18]:
#Print numbers from 1 to 10
i = 1
while i <=10:
    print("hello world", i)
    i+=1

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9
hello world 10

In [3]:
#Print numbers from 10 to 1
j = 9
while j >= 1:
    print("hello", j)
    j-=1

hello 9
hello 8
hello 7
hello 6
hello 5
hello 4
hello 3
hello 2
hello 1

In [ ]:
#WAP to print multiplication table of number "n"

In [10]:
n = int(input("enter number: "))
i = 1
while i<=10:
    print(n*i)
    i+=1

enter number:  3

3
6
9
12
15
18
21
24
27
30

In [4]:
#WAP print the elements of the following list using a loop

a = [1,3,4,6,7,8]
i = 0
while i <= len(a)-1: #stopping condition
    print(a[i])
    i += 1

1
3
4
6
7
8

In [5]:
a = [1,3,4,6,7,8]
i = 0
while i < len(a): #stopping condition
    print(a[i])
    i += 1

1
3
4
6
7
8

In [17]:
# Search for a number x in this tuple using loop
a = (1,2,4,5,6,4,3,6,8)
x = int(input("enter number from tuple: "))
i = 0
while i < len(a):
    if(a[i] == x):
        print("found at" , i)
    else:
        print("finding..")
    i+=1

enter number from tuple:  4

finding..
finding..
found at 2
finding..
finding..
found at 5
finding..
finding..
finding..

Break: Used to terminate the loop when encountered

In [3]:
i = 1
while i <= 10:
    print(i)
    if(i == 5):
        break
    i+=1

1
2
3
4
5

In [4]:
a = (1,2,4,5,6,4,3,6,8)
x = int(input("enter number from tuple: "))
i = 0
while i < len(a):
    if(a[i] == x):
        print("found at" , i)
        break
    else:
        print("finding..")
    i+=1
print("end of loop")

enter number from tuple:  3

finding..
finding..
finding..
finding..
finding..
finding..
found at 6
end of loop

Contunue: Terminates execution in the current itertaion & continues execution of the loop with the next itertaion

In [6]:
i = 5
while i <= 10:
    if(i == 7):
        i+=1
        continue
    print(i)
    i+=1

5
6
8
9
10

In [7]:
#print odd # from 1 to 20
i = 1
while i <= 20:
    if(i%2 == 0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [8]:
#print odd # from 1 to 20
i = 1
while i <= 20:
    if(i%2 != 0):
        i+=1
        continue
    print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

For Loop

In [1]:
#For loops are used for sequential traversal. For traversing list, str, tuples etc

In [2]:
a = [1,2,5,6,7,8]
for b in a:
    print(b)

1
2
5
6
7
8

In [3]:
a = ["Apples", "ball", "cat", "table"]
for x in a:
    print(x)

Apples
ball
cat
table

In [4]:
x = "australia"
for a in x:
    print(a)

a
u
s
t
r
a
l
i
a

In [5]:
a = [1,2,3,3,3,3,4,5,6,6]
for b in a:
    print(b)
else:
    print("this is end")

1
2
3
3
3
3
4
5
6
6
this is end

In [8]:
#why does it need to use "else" in for loop
a = "coconuts"
for x in a:
    if(x == "t"):
        print("found t")
        break
    print(x)
else:
    print("end") #else will not execute

c
o
c
o
n
u
found t

In [10]:
a = "coconuts"
for x in a:
    if(x == "t"):
        print("found t")
        break
    print(x)
print("end")

c
o
c
o
n
u
found t
end

In [11]:
a = [1,4,9,16,25,36,49,64,81,100]
for x in a:
    print(x)

1
4
9
16
25
36
49
64
81
100

In [23]:
a = (1,4,9,16,25,36,49,64,4,4,81,100)
b = 4
idx = 0
for x in a:
    if(x == b):
        print("found at idx",idx)
        break
    idx += 1

found at idx 1

In [24]:
a = (1,4,9,16,25,36,49,64,4,4,81,100)
b = 4
idx = 0
for x in a:
    if(x == b):
        print("found at idx",idx)
    idx += 1

found at idx 1
found at idx 8
found at idx 9

Range function

In [25]:
#It returns a sequence of number starting from zero by default and increments by 1 by default and stops before a specfied number
# range(start? , step size, stop?)

In [35]:
print(range(4))
print(range(7))

range(0, 4)
range(0, 7)

In [34]:
seq = range(7)
print(seq[0])
print(seq[1])
print(seq[4])
print(seq[6])

0
1
4
6

In [37]:
seq = range(9)
for i in seq:
    print(i)

0
1
2
3
4
5
6
7
8

In [38]:
for i in range(3): #stop at 3
    print(i)

0
1
2

In [39]:
for i in range(2,10): #range(start, stop)
    print(i)

2
3
4
5
6
7
8
9

In [41]:
for i in range(2,20,3): #range(start, stop, step size)
    print(i)

2
5
8
11
14
17

In [43]:
# even numbers
for i in range(2,10,2):
    print(i)

2
4
6
8

In [47]:
#odd number
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [50]:
for i in range(20, 0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [52]:
n = int(input("enter num: "))
for i in range(1,11):
    print(n*i)

enter num:  3

3
6
9
12
15
18
21
24
27
30

Pass Statement

In [54]:
# pass is a null statement that does nothing. It is used as a placeholder for future code

In [57]:
for i in range(4):
    pass
print("some useful work")

some useful work

In [59]:
if i < 5:
    pass

In [12]:
#WAP to find sum of first n natural numbers
n = 1
while n <=9:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [14]:
#WAP to print n natural numbers
n = 8
sum = 0
for i in range(1, n+1):
    sum+=i
print("total sum: ", sum)

total sum:  36

In [6]:
n = 5
sum = 0
i = 1
while i <= n:
    sum += i
    i+=1
print("total sum: ", sum)

total sum:  15

In [9]:
#WAP to find the factorial of first n numbers (using for)
n = 3
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i+=1
print("factorial ", factorial)

factorial  6

In [14]:
n = 3
fact =1 
for i in range(1, n+1):
    fact *= i

print("Factorial: ", fact)

Factorial:  6