# Session 9

In [5]:
world_cup_winners = ('Argentina','france','germany')
world_cup_winners[1]

'france'

# mutable -> changable -> list
# immuttable -> unchangable -> tuple

In [8]:
world_cup_winners[0] = 'france'

TypeError: 'tuple' object does not support item assignment

In [12]:
world_cup_winners = ('usa','pakistan','india')
world_cup_winners

('usa', 'pakistan', 'india')

# Dictionary

In [17]:
patient1 = {
    'id' : 1122,
    'name' : 'zubair',
    'age': 31,
    'gender' : 'male'
}
patient1

{'id': 1122, 'name': 'zubair', 'age': 31, 'gender': 'male'}

In [21]:
patient1['name']

'zubair'

In [23]:
del patient1['gender']
patient1

{'id': 1122, 'name': 'zubair', 'age': 31}

In [75]:
del patient1
patient1

NameError: name 'patient1' is not defined

In [25]:
patient1['age'] = 32
patient1

{'id': 1122, 'name': 'zubair', 'age': 32}

In [69]:
patient1.update({'age': 33})
patient1

{'id': 1122, 'name': 'zubair', 'age': 33, 'gender': 'male'}

In [27]:
patient1['gender'] = 'male'
patient1

{'id': 1122, 'name': 'zubair', 'age': 32, 'gender': 'male'}

In [31]:
patient1.get('gender')

'male'

In [71]:
dir(patient1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# list of dictionaries

In [34]:
patients = [
    {
    'id' : 1124,
    'name' : 'hasan',
    'age': 21,
    'gender' : 'male'
    },
    {
    'id' : 1126,
    'name' : 'hina',
    'age': 41,
    'gender' : 'female'
    }
]
patient3 =  {
    'id' : 1128,
    'name' : 'sana',
    'age': 28,
    'gender' : 'female'
    }
patients

[{'id': 1124, 'name': 'hasan', 'age': 21, 'gender': 'male'},
 {'id': 1126, 'name': 'hina', 'age': 41, 'gender': 'female'}]

In [36]:
patients.append(patient3)
patients

[{'id': 1124, 'name': 'hasan', 'age': 21, 'gender': 'male'},
 {'id': 1126, 'name': 'hina', 'age': 41, 'gender': 'female'},
 {'id': 1128, 'name': 'sana', 'age': 28, 'gender': 'female'}]

In [38]:
patients[1]

{'id': 1126, 'name': 'hina', 'age': 41, 'gender': 'female'}

In [40]:
patients[1]['name']

'hina'

In [42]:
patients[1]['name'] = 'sahir'
patients

[{'id': 1124, 'name': 'hasan', 'age': 21, 'gender': 'male'},
 {'id': 1126, 'name': 'sahir', 'age': 41, 'gender': 'female'},
 {'id': 1128, 'name': 'sana', 'age': 28, 'gender': 'female'}]

# list in dictionary

In [45]:
skill_set = {
    'tabish': ['excel','python','pandas','numpy','matplotlib','seaborn','data cleaning','powerBI'],
    'sharjeel' : ['python', 'excel','data analysis']
}

skill_set['tabish']

['excel',
 'python',
 'pandas',
 'numpy',
 'matplotlib',
 'seaborn',
 'data cleaning',
 'powerBI']

In [47]:
skill_set

{'tabish': ['excel',
  'python',
  'pandas',
  'numpy',
  'matplotlib',
  'seaborn',
  'data cleaning',
  'powerBI'],
 'sharjeel': ['python', 'excel', 'data analysis']}

In [49]:
skill_set['sharjeel'][2]

'data analysis'

In [51]:
skill_set['sharjeel'][2] = 'data mining'
skill_set['sharjeel']

['python', 'excel', 'data mining']

# dictionaries in dictionary

In [54]:
patients = {
     '1124' : {'name': 'hasan', 'age': 21, 'gender': 'male'},
     '1126' : {'name': 'hina', 'age': 41, 'gender': 'female'},
     '1128' : {'name': 'sana', 'age': 28, 'gender': 'female'}
}

patients['1124']

{'name': 'hasan', 'age': 21, 'gender': 'male'}

In [56]:
patients

{'1124': {'name': 'hasan', 'age': 21, 'gender': 'male'},
 '1126': {'name': 'hina', 'age': 41, 'gender': 'female'},
 '1128': {'name': 'sana', 'age': 28, 'gender': 'female'}}

In [58]:
patients['1124']['age']

21

# unpacking

In [61]:
world_cup_winners

('usa', 'pakistan', 'india')

In [63]:
(c1,c2,c3) = world_cup_winners
c1

'usa'

In [65]:
c3

'india'

In [67]:
countries = list(world_cup_winners)
countries

['usa', 'pakistan', 'india']

In [87]:
(c4,c5) = countries
c4

ValueError: too many values to unpack (expected 2)

In [79]:
c5

'pakistan'

In [81]:
world_cup_winners = tuple(countries)
world_cup_winners

('usa', 'pakistan', 'india')

In [83]:
c2

'pakistan'

In [89]:
employee = dict(name = 'nouroz', department = 'computer science', id = '2203')
employee

{'name': 'nouroz', 'department': 'computer science', 'id': '2203'}

In [91]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [95]:
name = "khushboo"
Age = 24

name
Age

24

In [97]:
"Name: {}, Age: {}".format(name,Age)

'Name: khushboo, Age: 24'

In [101]:
"Name: {}, Age: {}".format(Age,name)

'Name: 24, Age: khushboo'

In [99]:
f'Name: {name}, Age: {Age}'

'Name: khushboo, Age: 24'