# for loop

In [15]:
cities = ['karachi','hyderabad', 'islamabad', 'quetta','lahore']

for city in cities:
    print(city)

karachi
hyderabad
islamabad
quetta
lahore

In [7]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4])

karachi
hyderabad
quetta
lahore
islamabad

In [9]:
if cities[0] == 'islamabad':
    print("that's my city")
elif cities[1] == 'islamabad':
    print("that's my city")
elif cities[2] == 'islamabad':
    print("that's my city")
elif cities[3] == 'islamabad':
    print("that's my city")
elif cities[4] == 'islamabad':
    print("that's my city")
else:
    print("my city not in the list")

that's my city

In [23]:
print(len(cities))

for city in cities:
    if city == 'islamabad':
        print(city + ': that is my city')
        break
    else:
        print(city + ': that is not my city')

5
karachi: that is not my city
hyderabad: that is not my city
islamabad: that is my city

In [25]:
for i in range(10):
    print('''I'm Happy''')

I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy

In [29]:
for i in range(10):
    print(str(i) + ''': I'm Happy''')

0: I'm Happy
1: I'm Happy
2: I'm Happy
3: I'm Happy
4: I'm Happy
5: I'm Happy
6: I'm Happy
7: I'm Happy
8: I'm Happy
9: I'm Happy

In [31]:
for i in range(51,71):
    print(str(i) + ''': I'm Happy''')

51: I'm Happy
52: I'm Happy
53: I'm Happy
54: I'm Happy
55: I'm Happy
56: I'm Happy
57: I'm Happy
58: I'm Happy
59: I'm Happy
60: I'm Happy
61: I'm Happy
62: I'm Happy
63: I'm Happy
64: I'm Happy
65: I'm Happy
66: I'm Happy
67: I'm Happy
68: I'm Happy
69: I'm Happy
70: I'm Happy

In [35]:
for i in range(51,71,3):
    print(str(i) + ''': I'm Happy''')

51: I'm Happy
54: I'm Happy
57: I'm Happy
60: I'm Happy
63: I'm Happy
66: I'm Happy
69: I'm Happy

In [39]:
for ind, city in enumerate(cities):
    print(f'{ind} : {city}')

0 : karachi
1 : hyderabad
2 : islamabad
3 : quetta
4 : lahore

In [41]:
for ind, city in enumerate(cities):
    print(ind + " : " + city)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
for ind, city in enumerate(cities):
    print(str(ind) + " : " + city)

0 : karachi
1 : hyderabad
2 : islamabad
3 : quetta
4 : lahore

In [53]:
numbers = list(range(40,81,5))
print(numbers)

[40, 45, 50, 55, 60, 65, 70, 75, 80]

# Nested for loop

In [55]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [63]:
visited_cities = ['islamabad', 'multan','faisalabad','quetta','peshawar']
visited_cities

['islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [61]:
for city in cities:
    for visited_city in visited_cities:
        print(city, visited_city)

karachi pindi bathian
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad pindi bathian
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad pindi bathian
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta pindi bathian
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore pindi bathian
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

In [65]:
visited_cities

['islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [67]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [79]:
remaining_cities_visit = []

for city in cities:
    if city in visited_cities:
        print('already visited')
    else:
        remaining_cities_visit.append(city)
    print(remaining_cities_visit)

['karachi']
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
['karachi', 'hyderabad', 'lahore']

In [75]:
if 'rachi' in cities:
    print("ok")
else:
    print("not ok")

not ok

In [87]:
employee = {
    'name' : 'nouroz',
    'age' : 27,
    'education' : 'master'
}

for key, value in employee.items():
    print(key,value)
    
for key in employee.keys():
    print(key)

for value in employee.values():
    print(value)

name nouroz
age 27
education master
name
age
education
nouroz
27
master

# Input from user

In [89]:
user_input = input("enter your message")
print("your message is: ", user_input)

enter your message never stop

your message is:  never stop

In [107]:
age = int(input("enter your age"))
age = age + 5
print("your age is: " + str(age))

enter your age 25

your age is: 30

In [99]:
print("your age is: " + 25)

TypeError: can only concatenate str (not "int") to str

# while loop

In [ ]:
num = 0
while num < 5:
    print("loop is running : ", num)

In [115]:
num = 1
while num <= 5:
    print("loop is running : ", num)
    num += 1
print('--->', num)

loop is running :  1
loop is running :  2
loop is running :  3
loop is running :  4
loop is running :  5
---> 6

In [117]:
cities_to_visit = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
    
print(cities_to_visit)

Enter city to visit: berlin
Enter city to visit: tokoyo
Enter city to visit: london
Enter city to visit: paris
Enter city to visit: sydney
Enter city to visit: quit

['berlin', 'tokoyo', 'london', 'paris', 'sydney']